.admin-navbar {
  width: 240px;
  background-color: #5f9163;
  color: white;
  padding: 1rem;
  min-height: 100vh;
}

.admin-navbar .logo {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.admin-navbar ul {
  list-style: none;
  padding: 0;
}

.admin-navbar li {
  margin-bottom: 1rem;
}

.admin-navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.admin-navbar a.active {
  background-color: #66bb6a;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
}
